<!--
  NOTE: How to create modals usign Pico?
  - https://picocss.com/docs/modal
-->
<!-- TODO: Application Presenter or View Component -->
<dialog data-test-id="language_selection_modal" data-language-selection-target="modal">
  <article>
    <h2>Select Language</h2>
    <fieldset>
      <label>
        <input data-test-id="english_option" data-language-selection-target="englishOption" type="radio" name="language" <%= "checked" if params[:locale].in?([nil, "en"]) %> value="en"/>
        English
      </label>
      <label>
        <input data-test-id="ukrainian_option" data-language-selection-target="ukrainianOption" type="radio" name="language" <%= "checked" if params[:locale] == "ua" %> value="ua" />
        Ukrainian
      </label>
    </fieldset>
    <footer class="container">
      <button data-test-id="cancel_button" data-action="click->language-selection#cancel" class="secondary">
        Cancel
      </button>
      <button data-test-id="confirm_button" data-action="click->language-selection#confirm">
        Confirm
      </button>
    </footer>
  </article>
</dialog>
